.home {
    background-color: rgb(33, 139, 172);
}
.slider-block{
    position: relative;
    height: 650px;
   max-width: 1020px;
}
.swiper-container {
    margin:0 auto;
    position:relative;
    overflow:hidden;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    -o-backface-visibility:hidden;
    backface-visibility:hidden;
    /* Fix of Webkit flickering */
    z-index:1;
}
.swiper-wrapper {
    position:relative;
    width:100%;
    height: 100%;
    -webkit-transition-property:-webkit-transform, left, top;
    -webkit-transition-duration:0s;
    -webkit-transform:translate3d(0px,0,0);
    -webkit-transition-timing-function:ease;

    -moz-transition-property:-moz-transform, left, top;
    -moz-transition-duration:0s;
    -moz-transform:translate3d(0px,0,0);
    -moz-transition-timing-function:ease;

    -o-transition-property:-o-transform, left, top;
    -o-transition-duration:0s;
    -o-transform:translate3d(0px,0,0);
    -o-transition-timing-function:ease;
    -o-transform:translate(0px,0px);

    -ms-transition-property:-ms-transform, left, top;
    -ms-transition-duration:0s;
    -ms-transform:translate3d(0px,0,0);
    -ms-transition-timing-function:ease;

    transition-property:transform, left, top;
    transition-duration:0s;
    transform:translate3d(0px,0,0);
    transition-timing-function:ease;
}
.swiper-free-mode > .swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto;
}
.slide {
    float: left;
}



.slider {
    position: fixed;
    background: #545454;
    margin: 0 auto;
    width: 100%;
    height: 100%;

}
.about .slider{position: relative !important;}
.slider-container {
    width: 100%;
    height: 400px;
    background: #545454;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    perspective: 1200px;
}
.slider-wrapper, .slide {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.swiper-slide {
    position: relative;
    height: 650px;
    width: 800px ;
    margin-top: auto;
    margin-bottom: auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media(max-width: 768px){
    .swiper-slide {
        width: 100%;
        /* height: 100%; */
    }
}

.slide .slidertitle {
    display: none;
    position: absolute;
    line-height: 30px;
    font-weight: 100;
    right: 15%;
    bottom: 20px;
    /*top:-300px;*/
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
    text-shadow: 0 1px 2px rgba(0,0,0,0.6);
    /*-webkit-transition: all 0.9s ease-in-out;*/
    /*-moz-transition: all 0.9s ease-in-out;*/
    /*-o-transition: all 0.9s ease-in-out;*/
    /*transition: all 0.9s ease-in-out;*/

}
.active-slide > .slidertitle{
    display: block;
}
@media(min-width: 768px){
    .slide .slidertitle {
        right: 20%;
        left: 16%;
        padding-bottom: 70px;
    }
}
.slide .slidertitle h1 {
    font-family: 'customfont';
    /*font-size: 25px;*/
    /*line-height: 70px;*/

}
.slide .slidertitle p {
    font-size: 15px;

}

.Slide1{background-image: url("../imgs/1.jpg")}
.Slide2{background-image: url("../imgs/2.jpg")}
.Slide3{background-image: url("../imgs/3.jpg")}
.Slide4{background-image: url("../imgs/4.jpg")}
.Slide5{background-image: url("../imgs/5.jpg")}


@media(min-width: 768px){
    .slider > .slider-container{
        height: 650px;
    }
}
.slider .prev {
    background-image: none;
    position: absolute;
    left: 20px;
    top: 70%;
    margin-top: -15px;
    width: 70px;
    height: 70px;
    z-index: 10;
    margin-left: 10px;
}
.slider .next {
    background-image: none;
    position: absolute;
    right: 20px;
    top: 70%;
    margin-top: -15px;
    width: 70px;
    height: 70px;
    z-index: 10;
    margin-right: 10px;
}

/*--------------------*/
/* Circle slide */
/*--------------------*/

.slider a.next a,.slider a.prev a {
    margin: 0 20px;
}

.slider .icon-wrap {
    position: relative;
    z-index: 100;
    display: block;
    padding: 30px;
}

.slider svg.icon {
    fill: #fff;
    -webkit-transition: fill 0.3s;
    transition: fill 0.3s;
}

.slider a.prev div,.slider a.next div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: #566473;
    border-radius: 50%;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.1s 0s;
    transition: transform 0.3s, opacity 0.3s, background-color 0.1s 0s;
}



.slider a.prev img {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    display: block;
    border-radius: 50%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.slider a.next img {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    display: block;
    border-radius: 50%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.slider a.next:hover div,.slider a.prev:hover div {
    opacity: 1;
    background-color: transparent; /* Trick to hide the visible border of image */
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.1s 0.2s;
    transition: transform 0.3s, opacity 0.3s, background-color 0.1s 0.2s;
}

.slider a.prev:hover img,.slider a.next:hover img {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

/*------end circle slide----*/
@keyframes flipp-flash {
    0% {
        left: 0;
        top: 0;
        width: 1em;
        height: 1em;
        border-width: 0.05em;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
    }
    100% {
        left: -1.5em;
        top: -1.5em;
        width: 4em;
        height: 4em;
        border-width: 0.25em;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
    }
}@-moz-keyframes flipp-flash {
     0% {
         left: 0;
         top: 0;
         width: 1em;
         height: 1em;
         border-width: 0.05em;
         filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
         opacity: 1;
     }
     100% {
         left: -1.5em;
         top: -1.5em;
         width: 4em;
         height: 4em;
         border-width: 0.25em;
         filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
         opacity: 0;
     }
 }@-webkit-keyframes flipp-flash {
      0% {
          left: 0;
          top: 0;
          width: 1em;
          height: 1em;
          border-width: 0.05em;
          filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
          opacity: 1;
      }
      100% {
          left: -1.5em;
          top: -1.5em;
          width: 4em;
          height: 4em;
          border-width: 0.25em;
          filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
          opacity: 0;
      }
  }
@keyframes flipp-flash-in {
    0% {
        background-color: #fffff9;
    }
    50% {
        background-color: #ffcf57;
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
    }
    100% {
        background-color: #f0ab00;
    }
}@-moz-keyframes flipp-flash-in {
     0% {
         background-color: #fffff9;
     }
     50% {
         background-color: #ffcf57;
         transform: scale(1.5);
         -webkit-transform: scale(1.5);
         -moz-transform: scale(1.5);
         -ms-transform: scale(1.5);
         -o-transform: scale(1.5);
     }
     100% {
         background-color: #f0ab00;
     }
 }@-webkit-keyframes flipp-flash-in {
      0% {
          background-color: #fffff9;
      }
      50% {
          background-color: #ffcf57;
          transform: scale(1.5);
          -webkit-transform: scale(1.5);
          -moz-transform: scale(1.5);
          -ms-transform: scale(1.5);
          -o-transform: scale(1.5);
      }
      100% {
          background-color: #f0ab00;
      }
  }
@keyframes flipp-pulse {
    0% {
        transform: scale(0.9);
    }
    40% {
        transform: scale(1.25);
    }
    60% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(0.9);
    }
}
@-webkit-keyframes -webkit-flipp-pulse {
     0% {
         -webkit-transform: scale(0.9);
     }
     40% {
         -webkit-transform: scale(1.25);
     }
     60% {
         -webkit-transform: scale(1.25);
     }
     100% {
         -webkit-transform: scale(0.9);
     }
 }
 @-moz-keyframes -moz-flipp-pulse {
      0% {
          -moz-transform: scale(0.9);
      }
      40% {
          -moz-transform: scale(1.25);
      }
      60% {
          -moz-transform: scale(1.25);
      }
      100% {
          -moz-transform: scale(0.9);
      }
  }
.swiper-pagination {
    position: absolute;
    left: 0;
    text-align: center;
    bottom:10px;
    width: 100%;
    z-index: 10;
}
.swiper-pagination .swiper-pagination-bullet {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 2px;
    text-indent: -999px;
    cursor: pointer;
    border: none;
    border-radius: 100%;
    background-color: #fffff9;
    z-index: 2;
}

.swiper-pagination .swiper-pagination-bullet-active {
    width: 16px;
    height: 16px;
    margin: 2px;
    background-color: #f0ab00;
    z-index: 1;
    animation-name: flipp-flash-in, flipp-pulse;
    animation-duration: 500ms, 3s;
    animation-iteration-count: 1, infinite;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-name: flipp-flash-in, -webkit-flipp-pulse;
    -webkit-animation-duration: 500ms, 3s;
    -webkit-animation-iteration-count: 1, infinite;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    -moz-animation-name: flipp-flash-in, -moz-flipp-pulse;
    -moz-animation-duration: 500ms, 3s;
    -moz-animation-iteration-count: 1, infinite;
    -moz-animation-timing-function: ease-out, ease-in-out;
    -ms-animation-name: flipp-flash-in, -ms-flipp-pulse;
    -ms-animation-duration: 500ms, 3s;
    -ms-animation-iteration-count: 1, infinite;
    -ms-animation-timing-function: ease-out, ease-in-out;
    -o-animation-name: flipp-flash-in, -o-flipp-pulse;
    -o-animation-duration: 500ms, 3s;
    -o-animation-iteration-count: 1, infinite;
    -o-animation-timing-function: ease-out, ease-in-out;
}
.swiper-pagination .swiper-pagination-bullet-active:before, .swiper-pagination .swiper-pagination-bullet-active:after {
    content: '';
    width: 100%;
    height: 100%;
    color: #f0ab00;
    border: 1px solid;
    display: block;
    position: absolute;
    border-radius: 50%;
    transform: scale(1);
    -webkit-transform: scale(1);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    animation-name: flipp-flash;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-delay: 250ms;
    -webkit-animation-name: flipp-flash;
    -webkit-animation-duration: 500ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-delay: 250ms;
    -moz-animation-name: flipp-flash;
    -moz-animation-duration: 500ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-out;
    -moz-animation-delay: 250ms;
    -ms-animation-name: flipp-flash;
    -ms-animation-duration: 500ms;
    -ms-animation-iteration-count: 1;
    -ms-animation-timing-function: ease-out;
    -ms-animation-delay: 250ms;
    -o-animation-name: flipp-flash;
    -o-animation-duration: 500ms;
    -o-animation-iteration-count: 1;
    -o-animation-timing-function: ease-out;
    -o-animation-delay: 250ms;
}
.swiper-pagination .swiper-pagination-bullet-active:after {
    animation-duration: 750ms;
    animation-delay: 500ms;
    -webkit-animation-duration: 750ms;
    -webkit-animation-delay: 500ms;
    -moz-animation-duration: 750ms;
    -moz-animation-delay: 500ms;
    -ms-animation-duration: 750ms;
    -ms-animation-delay: 500ms;
    -o-animation-duration: 750ms;
    -o-animation-delay: 500ms;
}